.buttons {
	text-align: center;
	padding: 10px;
}

.etch-screen {
	padding: 10px;
}

table {
	border-collapse: collapse;
	height: 500px;
	width: 500px;
	margin: auto;
}

td {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

table, td {
	border: 1px solid gray;	
}

.pixel {
	height: 100%;
	width: 100%;
}

table:hover {
	cursor: none;
}

.black {
	background-color: black;
}


.white {
	background-color: white;
}